.signin-header {
  height: 150px;
  background-image: url('../assets/picadillty-circus.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.signin-form-container__balance {
  margin-bottom: 2px;
  color: #cf3a3a;
  font-weight: 400;
  text-align: center;
}

.text-span {
  position: absolute;
  top: 155px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  direction: ltr;
  font-size: 8px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  padding-bottom: 53px;
  font-family: 'PT Sans', sans-serif;
}

.arrow-up {
  height: 8px;
  background-image: url('../assets/003-up-arrow.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: brightness(89%);
  filter: brightness(89%);
}

.signin-form-container__form {
  width: 80%;
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
}

.form-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

.form-input {
  width: 70%;
  height: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #6b6b6b;
  font-size: 16px;
}

.form-input.passcode {
  border-top-style: none;
}

.radio-button {
  margin-top: 0px;
  margin-right: 11px;
  margin-left: 0px;
  padding-left: 1px;
}

.radio-button-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 100%;
  padding-left: 23px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-label {
  color: #1174cc;
  font-size: 12px;
}

.signin-button {
  width: 100%;
  margin-top: 19px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: rgba(17, 116, 204, .5);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.3px;
}

.forgot-password {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.forgot-password__textblock {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #1174cc;
  text-align: center;
}

.signin-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.signin-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  height: 110px;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 7px solid #b60808;
  background-color: #ebe4df;
  text-decoration: none;
}

.icon {
  width: 40%;
}

.text-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #7c6f61;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

.contact-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-info__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-text {
  margin-left: 4px;
  color: #1174cc;
  font-size: 13px;
}

.checking-header {
  height: 40px;
  padding-top: 7px;
  padding-left: 19px;
  background-image: url('../assets/background-image.svg');
  background-position: 50% 50%;
  background-size: 2000px;
  background-repeat: repeat;
}

.checking-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.hero-image {
  position: relative;
  height: 250px;
  background-image: url('../assets/hero-image.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bank-comparison {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 80%;
  max-width: 400px;
  padding: 13px 13px 16px;
  background-color: hsla(0, 0%, 100%, .8);
}

.bank-comparison__heading {
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 400;
}

.button {
  margin-top: 13px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #0052c2;
}

.checking-choices {
  padding: 6px 18px 18px;
}

.checking-choices__choice {
  margin-top: 36px;
}

.choice-header {
  margin-top: 0px;
  margin-bottom: 6px;
  color: #6b5e51;
  font-weight: 400;
}

.choice-header.red {
  color: #c41230;
}

.choice-text {
  margin-top: 0px;
  color: #524940;
}

.choice-text.money {
  margin-top: 18px;
  color: #6b5e51;
}

.choice-text.blue {
  margin-top: 14px;
  color: #0052c2;
}

.choice-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
  padding-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.choice-buttons__button {
  width: 45%;
  min-width: 140px;
  padding: 9px 3px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
}

.choice-buttons__button.verified {
  background-color: #000f9e;
}

.student-discount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  padding-top: 0px;
  padding-left: 14px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-2 {
  display: inline-block;
  padding-left: 6px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 11px;
  line-height: 15px;
}

.image {
  width: 40px;
}

.checking-subheader {
  color: #524940;
  font-weight: 400;
  text-align: center;
}

.link {
  text-decoration: none;
}

.loading-popup {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #fdf9f6;
  box-shadow: 6px 6px 17px 0 rgba(0, 0, 0, .23);
}

.html-embed {
  width: 100px;
  height: 100px;
  margin-top: 44px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  margin-top: 29px;
  font-weight: 400;
  text-align: center;
}

.profile-data__header {
  margin-top: 12px;
  padding: 12px;
  font-weight: 400;
  text-align: left;
}

.profile-data__form {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.form-2 {
  margin-right: auto;
  margin-left: auto;
}

.personal-data__confirm {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background-color: #f15555;
  font-size: 16px;
  text-align: center;
}

.profile-account__header {
  margin-top: 28px;
  margin-bottom: 41px;
  font-weight: 400;
  text-align: center;
}

.account-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.account-options__option {
  position: relative;
  height: 300px;
  min-width: 300px;
  margin-right: 3px;
  margin-bottom: 18px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(315deg, #73b1ff, #fff);
  background-image: linear-gradient(135deg, #73b1ff, #fff);
}

.account-options__option.grey {
  background-image: -webkit-linear-gradient(315deg, #a0a0a0, #fff);
  background-image: linear-gradient(135deg, #a0a0a0, #fff);
}

.account-options__option.orange {
  background-image: -webkit-linear-gradient(315deg, #ffb545, #fff);
  background-image: linear-gradient(135deg, #ffb545, #fff);
}

.account-options-__heading {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

@media (max-width: 479px) {
  .form-section {
    height: 45px;
  }
  .form-input {
    height: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #6b6b6b;
    font-size: 16px;
  }
  .form-input.passcode {
    border-top-style: none;
    font-size: 16px;
  }
  .radio-button {
    margin-right: 11px;
    padding-left: 1px;
  }
  .radio-button-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    height: 100%;
    padding-left: 10px;
  }
  .field-label {
    color: #1174cc;
    font-size: 12px;
    text-align: center;
  }
  .form {
    width: 100%;
  }
  .signin-button {
    width: 100%;
    margin-top: 19px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: rgba(17, 116, 204, .5);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.3px;
  }
  .forgot-password {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .forgot-password__textblock {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #1174cc;
    font-size: 13px;
    text-align: center;
  }
  .signin-menu__item {
    padding-right: 10px;
    padding-left: 10px;
  }
  .icon {
    width: 50%;
  }
  .text-block {
    width: 40%;
    color: #7c6f61;
  }
  .hero-image {
    background-image: url('../assets/hero-image.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bank-comparison {
    padding: 13px;
  }
  .bank-comparison__heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
  }
  .choice-buttons__button {
    min-width: 140px;
  }
  .checking-subheader {
    margin-top: 13px;
    margin-bottom: 7px;
    line-height: 22px;
  }
  .account-options__option {
    border-radius: 4px;
  }
  .account-options-__heading {
    color: #494949;
    font-weight: 700;
  }
}
