.div-block {
  height: 100%;
  background-image: url('../assets/wells-fargo.svg');
  background-position: 50% 50%;
  background-size: 160px;
  background-repeat: no-repeat;
}

.navbar {
  height: 42px;
  background-color: #ae1e23;
  color: #fff;
}

.container {
  height: 100%;
}

.menu-button {
  padding: 9px;
}

.signin-section {
  margin-bottom: 0px;
  background-color: #f8f8f8;
}

.form-block {
  padding: 10px;
}

.signin-section__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 0 7px 0 rgba(2, 2, 2, .12);
  font-size: 12px;
}

.text-field {
  padding-left: 31px;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #d6d6d6;
  font-size: 12px;
}

.label {
  position: static;
  width: 100px;
  height: 100%;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 3px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  color: #636363;
  font-weight: 700;
  text-align: center;
}

.main {
  background-color: #181818;
  min-height: 100vh;
}

.signin-section__radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.radio-input {
  padding: 13px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.form {
  font-size: 12px;
}

.checkbox {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  line-height: 14px;
}

.signin-section__action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.action-forgot-password {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.action-button {
  height: 40px;
  padding-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-color: #a70e33;
  color: #ececec;
  font-size: 14px;
  text-align: center;
}

.text-block {
  padding-right: 12px;
}

.slide {
  background-image: url('../assets/girl-blue.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url('../assets/family.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url('../assets/family-black.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-text {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 57px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 12px;
  color: #fff;
}

.slider-text__headlines {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.slider-text__icon {
  width: 30%;
  background-image: url('../assets/check.png');
  background-position: 50% 50%;
  background-size: 80px;
  background-repeat: no-repeat;
}

.slider-text__icon.pig {
  background-image: url('../assets/pig.png');
  background-size: contain;
}

.slider-text__icon.house {
  background-image: url('../assets/house.png');
  background-size: contain;
}

.right-arrow {
  display: block;
}

.left-arrow {
  display: none;
}

.icon {
  display: none;
}

.icon-2 {
  display: none;
}

.slider-text__header {
  margin-top: 0px;
  margin-bottom: 2px;
}

.section {
  margin-top: -10px;
  margin-bottom: 0px;
  border-top: 8px none #000;
}

.slider {
  border-bottom: 1px solid #777;
}

.actions-section__action {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-decoration: none;
  height: 60px;
  padding-top: 0px;
  padding-left: 21px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #5c5c5c;
  color: #fff;
  font-size: 12px;
}

.red-arrow {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  background-image: url('../assets/red-icon.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.thumbnail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.thumbnail__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.checking-acount-header {
  margin-bottom: 28px;
  padding-left: 19px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
}

.hero-image {
  position: relative;
  height: 472px;
  background-image: url('../assets/hero-image.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-top: 28px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  text-align: center;
}

.sub-header {
  margin-bottom: 175px;
  text-align: center;
}

.body {
  font-family: Verdana, Geneva, sans-serif;
}

.text-link {
  margin-top: 8px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-decoration: underline;
}

.open-checking-account {
  display: block;
  width: 280px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  background-color: #b91a1a;
  text-align: center;
}

.open-checking-account.verified {
  background-color: #000f9e;
  cursor: pointer;
}

.details-text {
  margin-top: 14px;
  color: #fff;
  text-align: center;
}

.compare-acounts-button {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 50px auto 29px;
  border: 1px solid #b12323;
  border-radius: 4px;
  background-color: transparent;
  color: #b12323;
  text-align: center;
}

.heading-2 {
  margin-bottom: 26px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  text-align: center;
}

.convenience-section {
  padding: 13px;
  background-color: #5e284c;
  color: #fff;
  font-size: 12px;
}

.convenience-header {
  margin-top: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  font-weight: 400;
}

.more-link {
  font-weight: 700;
}

.loader {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
}

.heading-3 {
  padding: 116px 16px 16px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #dfd8d8;
  text-align: center;
}

.heading-4 {
  margin-bottom: 0px;
  padding-left: 17px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #555;
  font-weight: 400;
  text-align: left;
}

.personal-details {
  width: 100%;
  max-width: 350px;
  margin: 0px auto 38px;
  padding-right: 9px;
  padding-left: 8px;
}

.profile {
  font-family: Varela, sans-serif;
  padding-bottom: 80px;
}

.form-2 {
  margin-right: auto;
  margin-left: auto;
}

.personal-details__form {
  margin-top: 55px;
  margin-bottom: 27px;
}

.confirm-button {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

.welcome-image {
  position: relative;
  height: 300px;
  padding-top: 55px;
  padding-left: 0px;
  background-image: url('../assets/bank-account.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-5 {
  margin-top: 90px;
  padding-top: 0px;
  padding-right: 61px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: hsla(325, 6%, 42%, .45);
}

.body-2 {
  font-family: Varela, sans-serif;
}

.navbar-2 {
  background-color: #414141;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.brand {
  background-image: url('../assets/user.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container-2 {
  padding: 8px;
}

.text-block-2 {
  display: inline-block;
}

.paragraph {
  margin-top: 16px;
  padding: 13px;
}

.my-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  max-width: 300px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(44, 44, 44, .67);
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .45);
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 700;
}

.text-block-3 {
  color: #333;
  font-weight: 700;
}

@media (max-width: 767px) {
  .slider-text__headlines {
    padding-left: 26px;
  }
}

@media (max-width: 479px) {
  .navbar {
    height: 42px;
    background-color: #ae1e23;
    color: #fff;
  }
  .container {
    height: 100%;
  }
  .menu-button {
    padding: 10px;
  }

  .heading-5 {
    padding: 4px;
  }
}
